<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :categories %><br>
    <%= f.text_field :categories %>
  </div>
  <div class="field">
    <%= f.label :synopsis %><br>
    <%= f.text_area :synopsis %>
  </div>

  <%= fields_for :cast, @cast do |cast_attributes| %>
    <div class="field">
      <%= cast_attributes.label :person_id %><br>
      <%= cast_attributes.select :person_id, Person.all.map { |p| [p.complete_name, p.id] } %>
    </div>

    <div class="field">
      <%= cast_attributes.label :role %><br>
      <%= cast_attributes.select :role, Cast::ROLE.map { |role| [role.titleize, role] } %>
    </div>

    <div class="field">
      <%= cast_attributes.label :destroy %><br>
      <%= cast_attributes.check_box :_destroy %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
