<% if user_signed_in? %>

<%= simple_form_for(movie) do |f| %>
  <%= f.input :title %>
  <%= f.input :duration %>
  <%= f.input :year %>
  <%= f.input :categories,
    as: :check_boxes,
    collection: Movie::CATEGORIES,
    label_method: ->(x) { x.to_s.titleize } %>
  <%= f.input :synopsis %>
  <%= f.file_field :poster %>

  <%= f.simple_fields_for :cast do |cast_attributes| %>
    <%= cast_attributes.input :person_id, collection: Person.all %>
    <%= cast_attributes.input :role, collection: Cast::ROLE, as: :radio_buttons %>
    <%= cast_attributes.input :destroy, as: :boolean %>
  <% end %>
  <%= f.submit %> 
<% end %>

<% else %>
  <div class="bck dark">
    <p class="white">
      You must be logged in to add or edit a movie
    </p>
  </div>
<% end %>
