<h1>Listing movies</h1> 

  <div class="row">
     <% @movies.each do |movie| %>
      <article class="movie column_4 padding">
        <header>
          <h3><%= movie.title %></h3>
        </header>
        <div class="movie-info">
          <p><span class="text bold">Year: </span><%= movie.year %></p>
          <p><span class="text bold">Duration: </span><%= movie.duration %> mn</p>
          <p><span class="text bold">Genre: </span><%= movie.categories %></p>
          <p><span class="text bold">Synopsis: </span><%= truncate(movie.synopsis, length: 120) %></p>
          <p class="favorite-link"><a href="#" class="active"><span class="icon star"></span>Add to favorites<small>(160)</small></a></p>
        </div>
        <aside class="buttons">
          <%= link_to 'Show', movie, class: 'button secondary' %>
          <%= link_to 'Edit', edit_movie_path(movie), class: 'button secondary' %>
          <%= link_to 'Destroy', movie, class: 'button secondary', method: :delete, data: { confirm: 'Are you sure?' } %>
        </aside>
      </article>
    <% end %>
  </div>
