
<p id="notice"><%= notice %></p>

<section class="column_6 movie-info">
  <ul>
    <li>
      <strong>Title:</strong>
      <%= @movie.title %>
    </li>

    <li>
      <strong>Duration:</strong>
      <%= @movie.duration %>
    </li>

    <li>
      <strong>Synopsis:</strong>
      <%= @movie.synopsis %>
    </li>

    <li>
      <strong>Year:</strong>
      <%= @movie.year %>
    </li>

    <li>
      <strong>Categories:</strong>
      <%= @movie.categories %>
    </li>

    <li>
      <strong>Cast:</strong>
      <% if @movie.casts.empty? %> 
      <strong>No casting in movie</strong>
      <% else %>

      <% @movie.casts.each do |c| %>
      <ul>
       <li> <strong>Name: </strong><%= c.person.complete_name %></li>
       <li><strong>Role: </strong><%= c.role.capitalize %></li>
     </ul>
     <% end %>
     <% end %>
   </li>
 </ul>
 <aside class="buttons">
  <%= link_to 'Add comment', '#', id: 'add-comment' , class: 'button secondary'%>
  <% if current_user == @movie.user&& user_signed_in? %>
    <%= link_to 'Edit movie', edit_movie_path(@movie), class: 'button secondary' %> 
    <%= link_to 'Add person', '#', id: 'add-person', class: 'button secondary' %>
  <% end %>
  <%= link_to 'Back to movies list', movies_path, class: 'button secondary' %>
</aside>
</section>

<%= render 'shared/comment' %>
<%= render 'shared/cast' %>