
<p id="notice"><%= notice %></p>

<section class="column_6 movie-info">
  <ul>
    <li>
      <strong>Title:</strong>
      <%= @movie.title %>
    </li>

    <li>
      <strong>Duration:</strong>
      <%= @movie.duration %>
    </li>

    <li>
      <strong>Synopsis:</strong>
      <%= @movie.synopsis %>
    </li>

    <li>
      <strong>Year:</strong>
      <%= @movie.year %>
    </li>

    <li>
      <strong>Categories:</strong>
      <%= @movie.categories %>
    </li>

    <li>
      <strong>Poster:</strong>
      <%= image_tag(@movie.poster_url) %>
    </li>

    <li>
      <strong>Cast:</strong>
      <% if @movie.casts.empty? %> 
      <strong>No casting in movie</strong>
      <% else %>

      <% @movie.casts.each do |c| %>
      <ul>
       <li> <strong><%= c.role.capitalize %>: </strong><%= c.person.complete_name %></li>
     </ul>
     <% end %>
     <% end %>
   </li>
 </ul>
<%= render partial: 'movie_menu', 
      layout: "movie_buttons",
      locals: { movie: @movie, user: @movie.user } 
  %>
</section>

<%= render partial: 'comment', locals: { movie: @movie, comment: @comment } %>
<%= render  partial: 'cast',
            locals: { cast: @cast, movie: @movie },
            layout: 'cast_layout' %>
