<div class="column_5">
  
  <aside class="comment-form margin">
    <% if user_signed_in? %>
    <%= form_for([@movie, @comment]) do |f| %>
    <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h4>Add a comment</h4>
    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
    <% else %>
    <div class="bck dark">
      <p class="white">
        You must be logged in to add or edit a movie
      </p>
    </div>
    <% end %>
  </aside>
  <div class="comments margin">
    <h4>Comments</h4>
    <% if @movie.comments.any? %>
    <% @movie.comments.each do |comment|  %>
    <div class="comment">
      <h5>Author: <span><%= comment.author %></span></h5>
      <p><%= comment.body %></p>
    </div>
    
    <% end %> 
    <% else %>
    There are no comments
    <% end %>
  </div>
</div>